.icon-text {
    display: flex; /* Enables Flexbox for alignment */
    align-items: center; /* Vertically aligns items in the center */
    gap: 8px; /* Optional: Adds spacing between the icon and the text */
}

.contact-item {
    display: flex; /* Align icon and text within each item */
    align-items: center; /* Vertically align icon and text */
    gap: 8px; /* Space between the icon and the text */
    text-align: center;
    flex: 1;
}

.contact-item span {
    white-space: nowrap; /* Prevent text wrapping */
}

.post-box1{
    padding-top:91.2px;
    padding-bottom:91.2px;
    border-bottom:1px solid var(--color-background-contrast)
}

@media (prefers-color-scheme: dark) {
    html:not(.theme-light):root {
      --color-background-main: #222426;
      --color-background-secondary: #1D1F20;
      --color-background-contrast: #3B3D40;
      --color-background-overlay: rgba(9,10,13,0.9);
      --color-content-lead: #FFF;
      --color-content-main: #E1E3E6;
      --color-content-secondary: #909499;
    }
}

.container {
    display: flex;
    gap: 20px; /* Space between columns */
}

.column.associates ul{
    list-style-type:circle
}
.column {
    flex: 1; /* Make both columns equal width */
    padding: 20px;
    border-radius: 5px;
}