<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <header class="post-header">
        <div class="inner">
            <h1 class="post-title">About us</h1>
        </div>
    </header>
    <main class="content" role="main">
        <article class="post">
            <div class="inner about">
                <section class="post-content about">
                    <p>Srdnlen is the academic CTF team of the University of Cagliari born after <a href="https://cyberchallenge.it/" rel="noreferrer">CyberChallenge.IT</a> 2019 by prof. Davide Maiorca, and a group of students from <a href="https://www.unica.it/en" rel="noreferrer">UniCA</a>.</p>
                    <p>From 2024, the team is an APS (Associazione di Promozione Sociale) association, named "Sardina Len APS", enrolled at RUNTS (Registro Unico Nazionale Terzo Settore) with the idea of promote the education in cybersecurity, and collaborate with third-parties (i.e. Universities, Institutions, and Companies) to achieve its goals.</p><hr>
                    <div class="container associates">
                        <div class="column associates">
                            <h2 id="associates">Organization</h2>
                            <ul>
                                <li>Prof. Davide Maiorca - <b>President</b></li>
                                <li>Lorenzo Pisu - <b>Videpresident</b></li>
                                <li>Silvia Lucia Sanna - <b>Secretary</b></li>
                                <li>Christian Scano - <b>Treasurer</b></li>
                                <li>Aurora Arrus - <b>Counselor</b></li>
                                <li>Giovanni Manca - <b>Counselor</b></li>
                                <li>Diego Soi - <b>Counselor</b></li><br>
                            </ul>
                        </div>
                    </div>
                    <h2 id="team-members">Associates</h2>
                    <div class="slideshow-container">
                        <!-- Full-width images with number and caption text -->
                        {% for cat in members %}
                            <div class="mySlides fade">
                                <h3>Category: {{cat}}</h3>
                                {% if num[cat] % 2 == 0 %}
                                    {% for i in range(0, members[cat] | length, 2) %}
                                        <div class="container team-members"> 
                                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                                {% for j in range(i, i+2) %}
                                                {% set p=members[cat][j] %}
                                                <div class="col">
                                                    <div class="card">
                                                        <center>
                                                        <div class="circle-wrapper">
                                                            <img src="../static/images/avatar/{{p['avatar']}}" alt="{{p['Nick']}}" class="card-img-top round-image">
                                                        </div>
                                                        </center>
                                                        <div class="card-body">
                                                        <a href="{{p['link']}}"><h4 class="card-title">{{p['Name']}} {% if p['Nick'] %} - <b>Nick: {{p['Nick']}} {% if p['role'] %} ({{p['role']}}) {% endif %}</b>{% endif %}</h4></a>
                                                        <p class="card-text">{{p['position']}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div><br>
                                    {% endfor %}
                                {% else %}
                                    {% for i in range(0, members[cat] | length - 1, 2) %}
                                        <div class="container team-members"> 
                                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                                {% for j in range(i, i+2) %}
                                                    {% set p=members[cat][j] %}
                                                    <div class="col">
                                                        <div class="card">
                                                            <center>
                                                            <div class="circle-wrapper">
                                                                <img src="../static/images/avatar/{{p['avatar']}}" alt="{{p['Nick']}}" class="card-img-top round-image">
                                                            </div>
                                                            </center>
                                                            <div class="card-body">
                                                            <a href="{{p['link']}}"><h4 class="card-title">{{p['Name']}} {% if p['Nick'] %} - <b>Nick: {{p['Nick']}} {% if p['role'] %} ({{p['role']}}) {% endif %}</b>{% endif %}</h4></a>
                                                            <p class="card-text">{{p['position']}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div><br>
                                    {% endfor %}
                                    <div class="container team-members"> 
                                        <div class="row row-cols-1 row-cols-md-2 g-4">
                                            {% set p=members[cat][members[cat] | length - 1] %}
                                            <div class="col">
                                                <div class="card">
                                                    <center>
                                                    <div class="circle-wrapper">
                                                        <img src="../static/images/avatar/{{p['avatar']}}" alt="{{p['Nick']}}" class="card-img-top round-image">
                                                    </div>
                                                    </center>
                                                    <div class="card-body">
                                                    <a href="{{p['link']}}"><h4 class="card-title">{{p['Name']}} {% if p['Nick'] %} - <b>Nick: {{p['Nick']}} {% if p['role'] %} ({{p['role']}}) {% endif %}</b>{% endif %}</h4></a>
                                                    <p class="card-text">{{p['position']}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div><br>
                                {% endif %}
                            </div>
                        {% endfor %}
                      
                        <!-- Next and previous buttons -->
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                      </div>
                      <br>
                      
                      <!-- The dots/circles -->
                      {% set labels = ['../static/icons/icon-lock.svg', '../static/icons/icon-foren.svg', '../static/icons/icon-globe-web.svg', '../static/icons/icon-rev.svg', '../static/icons/icon-pwn.svg', '../static/icons/icon-user.svg'] %}
                      <div style="text-align:center">
                        {% for i in range(members.keys() | length)%}
                            <span onclick="currentSlide({{i+1}})" style="cursor:pointer; display: inline-flex; align-items: center; margin: 0 6px;">
                                <i>
                                    <img src={{labels[i]}} alt="icon-lock" style="vertical-align: middle;">
                                </i>
                            </span>
                        {% endfor %}
                      </div>
                    <hr>
                    
                </section>
            </div>
        </article>
    </main>

{% endblock %}