<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <header class="post-header">
        <div class="inner">
            <h1 class="post-title">About us</h1>
        </div>
    </header>
    <main class="content" role="main">
        <article class="post">
            <div class="inner">
                <section class="post-content">
                    <p>Srdnlen is the academic CTF team of the University of Cagliari born after <a href="https://cyberchallenge.it/" rel="noreferrer">CyberChallenge.IT</a> 2019 by prof. Davide Maiorca, and a group of students from <a href="https://www.unica.it/en" rel="noreferrer">UniCA</a>.</p>
                    <p>From 2024, the team is an APS (Associazione di Promozione Sociale) association, named "Sardina Len APS", enrolled at RUNTS (Registro Unico Nazionale Terzo Settore) with the idea of promote the education in cybersecurity, and collaborate with third-parties (i.e. Universities, Institutions, and Companies) to achieve its goals.</p><hr>
                    
                    <h2 id="team-members">Team Members</h2><p></p><hr>
                    
                    <h2 id="associates">Associates</h2>
                    
                </section>
            </div>
        </article>
    </main>

{% endblock %}