<div class="nav-footer" style="width: 100%; align-items: center; text-align:center;">
<nav class="nav-wrapper" aria-label="Footer">
    <div class="footer-column" style="flex: 1">
        <span class="nav-copy">    
            <span class="nav-title">Srdnlen © 2024</span>
            <a aria-label="RSS" href="http://localhost:2368/rss/" title="RSS">
                <i class="icon icon-rss" aria-hidden="true">
                    <img src="../static/icons/icon-rss.svg" alt="icon-rss">
                </i>
            </a>
            <a aria-label="LinkedIn" href="https://it.linkedin.com/company/sardinia-len" title="LinkedIn">
                <i class="icon icon-linkedin" aria-hidden="true">
                    <img src="../static/icons/icon-linkedin.svg" alt="icon-linkedin">
                </i>
            </a>
            <a aria-label="Instagram" href="https://www.instagram.com/srdnlen/" title="Instagram">
                <i class="fa fa-instagram" aria-hidden="true">
                    <img src="../static/icons/icon-instagram.svg" alt="icon-instagram">
                </i>
            </a>
            <a aria-label="Instagram" href="https://ctftime.org/team/83421/" title="CTFTime">
                CTFtime
            </a>
        </span>
    </div>
    
    <div class="footer-column">
        <div class="icon-text contact-item">
            <i class="fa fa-position" aria-hidden="true">
                <img src="../static/icons/icon-position.svg" alt="icon-position">
            </i>
            <span>Viale La Plaia 15, 09123 Cagliari</span>
        </div>
        <div class="contact-item">
            <i class="fa fa-empty" aria-hidden="true">
                <img src="../static/icons/icon-empty.svg" alt="icon-empty">
            </i>
            <span>C.F. 92279830928</span>
        </div>
        <div class="icon-text contact-item">
            <i class="fa fa-mail" aria-hidden="true">
                <img src="../static/icons/icon-mail.svg" alt="icon-mail">                    
            </i>
            <span><a href="mailto:srdnlen@gmail.com">srdnlen@gmail.com</a> • <a href="mailto:srdnlen@pec.it">srdnlen@pec.it</a></span><br><br><br>
        </div>
    </div>
    
    <div class="footer-column" style="flex: 1;">
        <span class="nav-credits">
            Published with <a href="https://ghost.org">Ghost</a> • 
            Theme <a href="https://github.com/zutrinken/attila">Attila</a> • 
            <a class="menu-item js-theme" href="#" data-system="System theme" data-dark="Dark theme" data-light="Light theme">
                <span class="theme-icon"></span>
                <span class="theme-text">System theme</span>
            </a>
        </span>
    </div>
</nav>
</div>
