<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <header class="blog-header ">
        <div class="inner">
            <div class="box blog-box">
                <h1 class="blog-name">Srdnlen</h1>
                <span class="blog-description">UniCA CTF team - Sardinia Len APS</span>
            </div>
        </div>
    </header>
    <main class="content" role="main">
        {% if meta.pagination.prev %}
            {% include 'pagination.html' %}
        {% endif %}
        {% for post in posts%}
        <article class="{{post.class}}">
            <div class="inner">
                <div class="box post-box post-box1">
                    <h2 class="post-title"><a href="{{post.url}}">{{post.title | safe}}</a></h2>
                    <span class="post-meta">
                        By
                        {% for author in post.authors %}
                            {{ author }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        {% if post.primary_tag %}
                            in <a class="post-meta-tag" href="{{ post.primary_tag.url }}">{{ post.primary_tag.name }}</a>
                        {% endif %}
                        on <time datetime="{{ post.published_at.strftime('%d-%m-%Y') }}">{{ post.published_at.strftime('%d %b %Y') }}</time>
                    </span>
                    <p class="post-excerpt">{{ post.excerpt }}&hellip;</p>
                </div>
            </div>
        </article>
        {% endfor %}
        {% include 'pagination.html' %}
    </main>
{% endblock %}
